.Top-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #00539f;
    height: 56px;
    top: 0;
}
.Search{
    border: none;
    width: 40%;
    height: 26px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}
.SortButton{
    font-size: 1.0em;
    height: 28px;
    border-radius: 7px;
    margin: 4px;
    outline:none;
}
.btnIcon{
    width: 22px;
    height: 20px;
}
.homeicon:before{
    content: "\f015";
    color: white;
    font-size: 25px;
    margin: 10px;
}